@import '../common/breakpoints.scss';

$maxContentWidth: 1400px;
$horizontalGutter: 80px;
$verticalGutter: 50px;
$inlineGutter: 20px;

.browse-container {
  max-width: $maxContentWidth - $horizontalGutter;
  margin: $verticalGutter $horizontalGutter;
  display: flex;
  justify-content: center;
  gap: $inlineGutter;

  .filters {
    flex-grow: 1;

    .option-list {
      background-color: #1e1e1e;
      height: 400px;
    }
  }

  .games {
    flex-grow: 2;

    .game-list {
      height: 400px;
      background-color: #1e1e1e;
    }
  }
}
