@import '/src/common/variables.scss';

.hero-container {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 20px 120px;
    background-color: white;

    &--logo {
      height: auto;
    }

    &--items {
      display: flex;

      li {
        color: $primaryColor;
        padding: 8px 20px;
      }

      button {
        height: 40px;
        width: 185px;
        margin-left: 30px;
        background-color: $limeGreen;
        color: white;
        border: none;
        text-transform: uppercase;
      }
    }
  }

  .search {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    // Width of the video is too long to look good in parent's container.
    // So make it greater than the parent's height.
    video {
      height: 150%;
      position: absolute;
      z-index: -10;
    }

    &--bar {
      min-width: 300px;
      max-width: 1000px;
      width: 60vw;
      height: 56px;
      background-color: white;
      display: flex;

      input {
        width: 100%;
        height: 100%;
        font-size: 16px;
        border: none;
      }

      &__icon,
      &__close {
        height: auto;
        width: 18px;
        margin: 0 16px;
      }
    }

    h2 {
      width: 50vw;
      font-weight: 600;
      text-align: center;
      font-size: 36px;
    }

    p {
      width: 50vw;
      max-width: 620px;
      font-size: 18px;
      line-height: 1.3;
      text-align: center;
      // It stands out too much for a reason, make it a bit softer.
      opacity: 0.8;
    }
  }
}
